html,
body {
  background-color: #ffbc3e;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 10rem;
}

.wrapper {
  width: 80%;
  max-width: 63.75rem;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  max-width: 10rem;
  height: auto;
  margin-bottom: 10rem;
}
